{% extends "index.html" %}
{% block body %}
<br/>
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ação</th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>
                <a type="button" class="btn btn-primary btn-sm" href="/categories/{{ category.id }}">Editar</a>
                <a type="button" class="btn btn-danger btn-sm" href="/categories/{{ category.id }}/delete">Apagar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
    {% endblock %}